.blog {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
  }
  
  .blog:hover {
    transform: translateY(-7px);
  }
  
  .blog__description {
    margin-top: 1em;
  }
  
  .blog__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
  }
  
  .blog__stack-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
  }
  
  .blog .link--icon {
    margin-left: 0.5em;
  }
  